{% extends 'base.html' %}

{% block content %}
Hello, {{ user.username|default:'Guest' }}!

<div>

    <table border="1">
        <tr>
            <th>Writer</th>
            <th>Total articles written</th>
            <th>Total articles written in last 30 days</th>
        </tr>
        {% for data in table_data %}
            <tr>
                {% for d in data %}
                <td style="text-align:center">{{d}}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% if user.is_authenticated %}
    <a href="{% url 'create' %}">Create</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% if user.is_editor%}
    <a href="{% url 'article_approval' %}">Edit atricles</a>
    <a href="{% url 'articles_edited' %}">See edited articles</a>
    {% endif %}
    {% else %}
    <div>Guests can't create or edit blogs, please log in / register. :)</div>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
{% endblock %}